.is-side-menu {
  max-width: 300px;
}

.button.is-purple {
  background-color: #6759ff;
  color: white;
  border: none;
}

.button.is-purple:hover {
  background-color: #6759ff;
}

.card {
  background-color: white !important;
  color: black !important;
}
