.root {
  background-color: white;
}

.is-purple {
  color: #6759ff !important;
}

.is-red {
  color: #c70000;
}

.is-black {
  color: #1a1b2d !important;
}

.is-light-back {
  color: #363636 !important;
}

.is-gray {
  color: #535763;
}

.text-uppercase {
  text-transform: uppercase;
}

.login-background {
  background-color: #8b53fc;
  background-image: linear-gradient(to left, #5e4cef 65%, #8b53fc);
}

.login-card {
  padding-inline: 2rem;
  margin-top: 1rem;
}

.login-title {
  color: #1a1b2d;
  font-size: 5rem;
}

.login-input {
  background-color: white !important;
  color: black !important;
  border: 1px solid lightgray !important;
}

.login-input::placeholder {
  color: lightgray !important;
  opacity: 1 !important;
}

.login-button {
  width: 100%;
  margin-top: 1rem;
  padding-block: 1rem !important;
  background-color: #8b53fc !important;
  text-transform: uppercase;
}

.purple-tag {
  color: white !important;
  background-color: #8b53fc !important;
}

.blue-tag {
  color: white !important;
  background-color: #1e349b !important;
}

.ei-tag {
  color: white !important;
  background-color: #3bbccd !important;
}

.ef-tag {
  color: white !important;
  background-color: #3bcd73 !important;
}

.em-tag {
  color: white !important;
  background-color: #ff7300 !important;
}
