.card .title {
  color: #1a1b2d;
}

.register-text {
  color: #8b53fc;
}

.register-link {
  text-decoration: underline;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none; /* Evita interações enquanto invisível */
}
